# Dependency directories
node_modules/

# Environment Variables should NEVER be published
.env

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
*.lnk


# VS Code
.vscode/*
