



















/*Footer related css*/
.footer{
    margin:0;
    height: 12vh;
    width: 100vw;
    background-color: #101010;
    display: flex;
    justify-content: space-around;
    font-size: 10px;

}

.footer-about-contact{
    width:50%;
    text-align: left;   
    align-content: center;
    line-height: 14px;
    padding: 0px 4vw;
}

.footer-about-contact a{
    color: #F0F0F0;    
}

.footer-about-contact a:active,
.footer-about-contact a:hover{
    color: #EE8C45;    
}
.footer-drj-product{
    width:50%;
    height: 100%;
    color: #F0F0F0;
    text-align: right;  
    padding-right: 10px;
    padding: 0px 5vw;

}