/*Footer related css*/
html {
	width: 100vw;
	overflow-y: scroll;
}
/*This makes the scrollbar invisible, which will not affect the page view*/
::-webkit-scrollbar {
	display: none;
}
.error-message {
	color: red;
	font-weight: bold;
}

.p-indent {
	text-indent: 40px;
}

.body-of-app {
	margin: 0;
	display: flex;
	max-width: 100vw;
	min-height: 100vh;
	flex-direction: column;
	overflow-x: hidden;
}

.footer {
	margin-top: auto;
	width: 100vw;
	background-color: #101010;
	display: flex;
	justify-content: space-around;
	
}

.footer-about-contact {
	width: 50%;
	text-align: left;
	line-height: 30px;
	padding: 10px;
}

.footer-about-contact a {
	color: #f0f0f0;
	text-decoration: none;
}

.footer-about-contact a:active,
.footer-about-contact a:hover {
	font-family: 'neue-haas-grotesk-text', sans-serif;
	text-decoration: underline;
}
.footer-drj-product {
	font-family: 'neue-haas-grotesk-text', sans-serif;
	font-size: 0.6rem;
	width: 50%;
	height: 100%;
	text-align: right;
	padding-right: 10px;
	margin-top: 30px;
}
.footer-drj-product p{
	color: #b9b9b9;
}

.footer-text {
	font-family: 'neue-haas-grotesk-text', sans-serif;
	font-size: 0.85rem;
	font-weight: lighter;
	text-decoration: none;
	cursor: pointer;
}

:root {
	background-color: #101010;
	height: 100vh;
}
body {
	background: rgb(250, 217, 132);
	background: linear-gradient(
		140deg,
		rgba(250, 217, 132, 1) 0%,
		rgba(238, 140, 69, 1) 100%
	);
}

.navbar {
	display: flex;
	margin-top: 0px;
	flex-direction: column;
	background-color: #101010;
	padding-top: 36px;
	padding-bottom: 10px;
	width: 100vw;
}

.closed-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.opened-nav {
	display: flex;
	flex-direction: column;
}

.nav-row {
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
}

.nav-row-3 {
	display: flex;
	justify-content: flex-end;
	padding: 5px 10px;
}

.nav-link {
	background-color: #101010;
	font-family: 'neue-haas-grotesk-text', sans-serif;
	color: #f0f0f0;
	font-size: 0.85rem;
	font-weight: lighter;
	padding: 0px;
	cursor: pointer;
}

.nav-link:hover {
	background-color: #101010;
	font-family: 'neue-haas-grotesk-text', sans-serif;
	color: #f0f0f0;
	font-size: 0.85rem;
	font-weight: lighter;
	padding: 0px;
	cursor: pointer;
	text-decoration: underline;
}

.user-icon {
	height: 23px;
	padding-left: 10px;
}

.nav-logo {
	height: 25px;
	padding-top: 5px;
}

.close-icon {
	width: 20px;
	padding-right: 10px;
}

.hamburger-icon {
	width: 20px;
	padding-right: 10px;
}

button {
	color: black;
	background: white;
}

.landing-page {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	align-content: center;
	text-align: center;
}

.landingpage-text {
	color: #101010;
	font-family: 'neue-haas-grotesk-text', sans-serif;
	font-weight: lighter;
	font-size: 0.9rem;
	width: 90vw;
}

.landingpage-logo {
	width: 180px;
	max-width: 2000px;
	margin-top: 45px;
}

.landing-page-button {
	color: #101010;
	font-family: 'neue-haas-grotesk-text', sans-serif;
	font-weight: light;
	font-size: 0.9rem;
	background-color: #f0f0f0;
	border: 2px solid;
	border-color: #101010;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
	margin: 5px;
}

.landing-page-button:hover {
	color: #f0f0f0;
	font-family: 'neue-haas-grotesk-text', sans-serif;
	font-weight: light;
	font-size: 0.9rem;
	background-color: #101010;
	border: 2px solid;
	border-color: #101010;
	border-radius: 10px;
	cursor: pointer;
}

.landing-page-button.selected {
	color: #f0f0f0;
	font-family: 'neue-haas-grotesk-text', sans-serif;
	font-weight: light;
    font-size: 0.9rem;
    background-color: #101010;
    border: 2px solid;
    border-color: #101010;
    border-radius: 10px;
    cursor: pointer;
}

h2 {
    font-family: 'neue-haas-grotesk-text', sans-serif;
	color: #101010;
    font-weight: lighter;
    font-size: 1.8rem;
    text-align: center;
}

h4 {
    font-family: 'neue-haas-grotesk-text', sans-serif;
	color: #101010;
    font-weight: lighter;
    font-style: italic;
    font-size: 0.85rem;
    text-align: center;
}

.teachers-page{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.teacher-card{
    display: flex;
    background-color:rgb(255, 255, 255, 0.25);
    margin-bottom: 10px;
    border: 2px solid;
    border-color: #101010;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
    line-height: 0;
}

h3 {
    font-family: 'neue-haas-grotesk-text', sans-serif;
	color: #101010;
    font-weight: bold;
    font-size: 1rem;
}

.about-me {
	font-family: 'neue-haas-grotesk-text', sans-serif;
	color: #101010;
    font-weight: bold;
    font-size: 1rem;
	margin-bottom: 0px;
}

p {
    font-family: 'neue-haas-grotesk-text', sans-serif;
	color: #101010;
    font-weight: lighter;
	font-size: 1rem;
}

.teacher-details-text {
    font-family: 'neue-haas-grotesk-text', sans-serif;
	color: #101010;
    font-weight: lighter;
	font-size: 1rem;
	margin-bottom: 0px;
}

.teacher-page-button{
    color: #101010;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: light;
    font-size: 0.9rem;
    background-color: #F0F0F0;
    border: 2px solid;
    border-color: #101010;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.teacher-page-button:hover{
    color: #F0F0F0;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: light;
    font-size: 0.9rem;
    background-color: #101010;
    border: 2px solid;
    border-color: #101010;
    border-radius: 10px;
    cursor: pointer;
}

.teacher-page-button.selected{
    color: #F0F0F0;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: light;
    font-size: 0.9rem;
	background-color: #101010;
	border: 2px solid;
	border-color: #101010;
	border-radius: 10px;
	cursor: pointer;
}

/*Fake modal, made with html and css(it's just a box with options)*/
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background: white;
	padding: 20px;
	border-radius: 8px;
	max-width: 500px;
	width: 100%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.teacher-details {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.available-dates{
	display: flex;
	flex-wrap: wrap;
}

.available-dates-button{
    color: #101010;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: light;
    font-size: 0.9rem;
    background-color: #F0F0F0;
    border: 2px solid;
    border-color: #101010;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
	margin-bottom: 5px;
	margin-right: 5px;

}

.available-dates-button:focus{
    color: #F0F0F0;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: light;
    font-size: 0.9rem;
	background-color: #101010;
	border: 2px solid;
	border-color: #101010;
	border-radius: 10px;
	cursor: pointer;
}